<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page Not Built</title>
<link rel="stylesheet" href="noPage.css">
</head>

<body>

<div class="sidebar" id="sidebar"></div>

<div class="container">
  <div class="header">
    <h1 class="explore-title">Page Not Built</h1>
    </div>
  </div>

  <h2>This page has not been built for this prototype.</h2>
  <a href = "explore.html"> Click here to return to the explore page.</a>
</body>